body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Tahoma"

}

p {
    margin: 0;
}



.container {
    display: flex;
    flex-direction: column;


}

canvas {
    border: 1px rgba(0, 0, 0, 0.5);
    height: 500px;
    width: 500px;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5);

}


.information {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    width: 490px;
    height: 200px;
    padding: 5px 5px;
}

.buttons {
    border: 1px solid green;
    width: 240px;
    margin: 5px 5px;
    padding: 10px 10px;
}

.displays {
    border: 1px solid red;
    width: 240px;
    margin: 5px 5px;
    padding: 10px 10px;
}

.imageSplash {
    position: absolute;
}

.hidden {
    display: none;
}

button {
    margin: 10px 0;
}

