@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: "VT323";
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    color: white;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 1000px;
    border: 1px solid gray;
}

.gameOutput {
    margin: 10px;
    height: 450px;
    width: 800px;
    border: 1px solid coral;
    padding: 5px 15px;

}

.playerInput {
    margin: 10px;
    height: 50px;
    width: 800px;
    border: 1px solid navy;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.playerLog {
    margin: 10px;
    height: 200px;
    width: 800px;
    border: 1px solid forestgreen;
}

.dialogue {

    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    animation: typewriter 4s steps(60) 1s 1 normal both,
    blinkTextCursor 500ms steps(60) 1s 1 normal both;  
}

@keyframes typewriter{
    from{width: 0%;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }